.aboutMain-pic {
    width: 100%;
    height: 600px;
    background-image: url(../../images/car-rental.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center bottom;

}


.aboutMain-pic .bread {
position: absolute;
top: 500px;
left: 200px;

}

