.contact {
}
.contact .top-img {
  background: url("../../images/serv7.webp");
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 200 100;
}

.top-img .bread {
  position: absolute;
  top: 500px;
  left: 200px;
}

.contact .contact-form {
  background: #f8f9fa;
}
.contact .contact-form label {
  color: #555;
}

.contact .contact-form input,
.contact .contact-form textarea {
  border: solid 1px black;
}
