.details-comp{
    
}
.details-comp .top-img{
    background: url('https://images.unsplash.com/photo-1432462770865-65b70566d673?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80') no-repeat;
    height: 600px;
    width: 100%;
    position: relative;
    background-position:center;
    object-fit: cover;
}
.details-comp .bread{
    position: absolute;
    top: 28rem;
    left: 2em;
    font-size: 1.5rem;
    
}